/* Enter your custom styles here */
.classTable td :first-child{
    font-size: 10.5px;
}
.classTableDetalle td :first-child{
    font-size: 8.5px;
    
 }

 /*
#__panel0 input,
#__panel1 input,
#__panel2 input{
    font-weight: bold;
}*/
input[type="text"][disabled]{
    font-weight: bold;
}